.nav {
    width: 100%;
    max-width: 1000px;
    margin: auto;
    display: block;
    background-color:#ED0105;
    
}
ul li {
    padding: 0 20px;
    display: inline-block;
}
ul li a {
    color: #F9F5F6;
	

 }
#header img {
    width: 60px;
}
#header span {
    color: #F00408;
    font-size: 25px;
    margin-left: 20px;
}
.nav ul li a:hover {
	background:#042EF1;
}

li.activ {
    padding: 20px;
    background-color: #042EF1;
}
body .nav ul {
    padding: 0px;
}
body {
    width: 100%;
    margin: auto;
    max-width: 1000px;
    background-color: #EDEDED;
    color: #070AB4;
}
.wrapper {
    color: #EB5102;
}
.rollover {
    width: 100%;
   
}
