
.App {
    margin: auto;
    max-width: 600px;
    background-color: bisque;
    border-radius: 5%;
    padding: 80px;
    font-size: 24px;
}

.Info-afis {
    margin: 14px;
    background-color: grey;
    border-radius: 5%;
    padding: 10px;
    font-weight: 600;
    font-size: 18px;
}

h1{
    text-align: center;
}

#button-submit{
    font-size: 18px;
}
button {
    font-size: 16px;
}